.images{
    height: 110%;
    width: 100%;
    margin:0;
    padding: none;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: auto;
    background-image:
    linear-gradient(to left, rgba(190, 207, 204, 0.26), rgb(22, 21, 22)),
    url('./img/cer.jpg');
  }

.cont{
    font-family: 'Anton', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 3vw;
    height: 100px;
    width: 50%;
    border: 2px;
    border-color: black;
    padding-left: 18%;
    padding-top: 10%;
}

#body{
    background-size: auto;
    
  }

.txt{

    font-family: 'Anton', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-weight: 200;
color:white ;

}